home
  header.header-bar
    div.center
      h1.title Phonon Starterkit
  div.content
    ul.list
      li.divider
        a(href='#!subpage/hoge') hoge
      li.divider
        a(href='#!subpage/foo') foo
      li.divider
        a(href='#!subpage/bar') bar
  script.